/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
  --ion-background-color: #f1f3f4;
  --ion-toolbar-background: #f1f3f4;
  --ion-default-font:
    "Inter", "Roboto", "Helvetica Neue", sans-serif !important;
  --ion-text-color: #464646;
  --ion-backdrop-opacity: 0.15;

  --ion-color-success: #aadac9;
  --ion-color-danger: #daaabb;
  --ion-color-light: white;

  --gray: #dfdfdf;
  --text-light: #c0c0c0;
}
