#databasePage .container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 1rem;
  width: 100%;

  ion-searchbar {
    --background: white;
    padding: 0;
  }

  ion-infinite-scroll-content {
    margin-top: 20px;
  }
}
