#databasePage .container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 1rem;
  width: 100%;

  ion-searchbar {
    --background: var(--ion-color-card);
    padding: 0;
  }

  ion-infinite-scroll-content {
    margin-top: 20px;
  }

  section.cards {
    width: 100%;
    display: flex;
    flex-direction: column;

    ion-card {
      margin-inline: 0;
      background: var(--ion-color-card);
    }

    @media (min-width: 768px) {
      flex-flow: row wrap;
      justify-content: space-between;

      &::after {
        content: "";
        width: 32%;
      }

      ion-card {
        width: 32%;
      }
    }
  }
}
