#homePage #container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 1rem;
  height: 100%;

  header {
    display: flex;
    flex-flow: column;
    align-items: center;

    margin-top: calc(env(safe-area-inset-top) + 3rem);

    h1 {
      font-weight: 800;
      font-size: 2.2rem;
      letter-spacing: 0.04rem;
      margin: 0;
    }

    h2 {
      font-weight: 500;
      font-size: 1.1rem;
      margin-top: 0.4rem;
      color: var(--text-light);
    }
  }

  .sectionHeader {
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    color: var(--text-light);
    margin-top: 2.5rem;
    align-self: flex-start;
    font-weight: 500;

    @media (min-width: 768px) {
      align-self: center;
      font-size: 1rem;
      letter-spacing: inherit;
    }
  }

  section.cardContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    .cardFirstRow{
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: 100%;
    }
    .card {
      background: white;
      width: 100%;
      border-radius: 0.8rem;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
      margin-top: 15px;
      cursor: pointer;
      transition: box-shadow 0.3s ease;

      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
        font-weight: 800;
        font-size: 1.3rem;
        margin: 0;
        margin-bottom: 0.5rem;
      }

      p {
        margin: 0;
        font-size: 0.8rem;
        color: var(--text-light);
        text-align: center;
      }

      @media (min-width: 768px) {
        max-width: 48%;
      }
    }

    @media (min-width: 768px) {
      flex-flow: row;
      justify-content: space-between;
      max-width: 500px;
    }
  }

  a {
    color: var(--text-light);
    text-decoration: unset;

    &#databaseLink {
      margin-top: 20px;

      // Box style for larger screens
      background: white;
      width: 100%;
      border-radius: 0.8rem;
      padding: 1.5rem;
      margin-bottom: 100px;
      color: inherit;
      text-align: center;
      cursor: pointer;
      transition: box-shadow 0.3s ease;

      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
        font-weight: 800;
        font-size: 1.3rem;
        margin: 0;
        margin-bottom: 0.5rem;
      }

      p {
        margin: 0;
        font-size: 0.8rem;        
        color: var(--text-light);
        text-align: center;
      }  
    }

    &#settingsLink {
      margin-top: auto;
      padding-bottom: 25px;
      font-size: 0.8rem;
    }
  }
}

@import "../styles/alert";

ion-alert.dayPrompt {
  button.alert-button:last-child {
    font-weight: 400;
  }
}
