#homePage #container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 1rem;

  header {
    display: flex;
    flex-flow: column;
    align-items: center;
  
    margin-top: 3rem;

    h1 {
      font-weight: 800;
      font-size: 2.2rem;
      letter-spacing: .04rem;
      margin: 0;
    }

    h2 {
      font-weight: 500;
      font-size: 1.1rem;
      margin-top: .4rem;
      color: var(--text-light);
    }
  }

  .sectionHeader {
    font-size: .8rem;
    letter-spacing: .15rem;
    color: var(--text-light);
    margin-top: 2.5rem;
    align-self: flex-start;
    font-weight: 500;
  }

  section.card {
    background: white;
    width: 100%;
    border-radius: .8rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin-top: 15px;

    h1 {
      font-weight: 800;
      font-size: 1.3rem;
      margin: 0;
      margin-bottom: .5rem;
    }

    p {
      margin: 0;
      font-size: .8rem;
      color: var(--text-light);
    }
  }
}