#writerPage .container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: calc(env(safe-area-inset-top) + 2rem) 1rem;

  ion-textarea {
    --highlight-height: unset;

    textarea {
      padding: 0;
    }
  }

  .title {
    textarea {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}
